<h1>About</h1>
<p>This page was developed and created by <a href="http://my.vanderbilt.edu/coryduclos"> Cory Duclos</a> at the Digital Humanities Winter Institute at the University Maryland. Jan. 10, 2013. </p>

