/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
	background-color: #fff;
}

body {
	font-family: 'Donegal One', serif;
	width: 70%;
	margin: 10% auto;
	background-color: #754e2f;
	padding: 20px 40px;
	border: 10px solid #190707;
}


header {
	background-color: #190707;
	color: #DBA901;
	padding-top: 3%;
	padding-bottom: 10%;
	padding-right: 5%;
	padding-left: 5%;

	background-image: url(consuegra.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}

nav ul,
footer ul {
	text-align: right;
	list-style:none;
	margin-top:10%;
	margin-left:0;
	padding-left:0;
}

nav li,
footer ul {
	display:inline;
}

header a:link {color: white;}
header a:visited {color: black;}
header a:hover {color: #fff;}
header a:focus {color: #fff;}
header a:active {color: blue;}

header h1 {
	font-size: 36px;
}

table {
	width: 100%;
}

thead th {
	border-bottom: 5px solid black;
	text-align:left;
}

th,
td {
	padding: 5px 0;
}

tbody tr {
	background-color: #F5ECCE;
}

tbody tr:nth-child(even) {
	background-color: #BDBDBD;
}

a:link {color: white;}
a:visited {color: black;}
a:hover {color: #fff;}
a:focus {color: #fff;}
a:active {color: blue;}


